<div class="container" id="rifa">
  <div class="row category">
    <%= category.name %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cabecera">
         <%= category.descripcion %>
    </div>
  </div>
  <div class="row acordeon-item">
    <div class="header active">Nombre del beneficiario</div>
    <div class="body" style="display:block;">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Nombre Beneficiario" id="name">
            <input type="hidden" value="<%= category.id %>" id="categoriavalue">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Apellidos" id="lastname">
        </div>
    </div>
  </div>
  <div class="row acordeon-item">
    <div class="header">Descripci처n</div>
    <div class="body">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <textarea class="form-control" placeholder="Descripci처n" id="descripcion" ></textarea>
        </div>
    </div>
  </div>
  <div class="row acordeon-item">
    <div class="header">Reglas del juego</div>
    <div class="body">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Valor del numero" id="value">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Cantidad minima de numeros vendidos" id="min">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Cantidad maxima de numeros vendidos" id="max">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control datepicker" placeholder="Fecha limite" id="date">
        </div>
    </div>
  </div>
  <div class="row acordeon-prize" data-toggle="modal" data-target="#PRIZE">
    <div class="header">Premios</div>
  </div>
  <div class="row acordeon-item">
    <div class="header">Medios de cobro</div>
    <div class="body">
      <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="N째 Cuenta" id="ncuenta">
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <select class="form-control" placeholder="Tipo de Cuenta" id="tcuenta">
            <option value="0">Cuenta Corriente</option>
            <option value="0">Cuenta Vista</option>
          </select>
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <select class="form-control" placeholder="Banco" id="banco">
            <% for(var i=0; i<bancos.length; i++) {%>
               <option value="<%= bancos[i].id %>"> <%= bancos[i].name %> </option>
            <% } %>
          </select>
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <input type="text" class="form-control" placeholder="Titular Cuenta" id="titularcuenta">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="RUT" id="rut">
      </div>
    </div>
  </div>
  <div class="row botones">
    <div class="input-group">
      <input type="button" class="btnenviar" id="create" value="Que comience!" />
    </div>
  </div>
</div>

<!-- MODALES -->
  <!-- Modal -->
  <div class="modal fade" id="PRIZE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Premios</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid" id="premios-item">
        
          </div>
        </div>
        <div class="modal-footer">
          <input type="text" id="itemadd" placeholder="Descripci처n del premio"/>
          <label for="inputFileToLoad" class="plus"><i class="fa fa-plus" aria-hidden="true"></i><input id="inputFileToLoad" type="file" /></label>
        </div>
      </div>
    </div>
  </div>